<!doctype html>
<html lang="en" ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    
    <!-- Latest compiled and minified CSS userd for scriptr display box widget -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 	<script src="//cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
    
    <!-- Importing any angularsjs widget library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    
    <script src="/scriptrUI/demo/config.js"></script>
    <script src="/scriptrUI/channelManager.js"></script>
   
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.min.js"></script>
    <script src="/scriptrUI/lib/widgets/gauge.js"></script>
    <script src="/scriptrUI/lib/widgets/displayBox.js"></script>

    <script>
      var myApp = angular.module('demo', 
                                 ["channelManager", 
                                  "ngMaterial", 
                                  "angular-dialgauge", 
                                  "angular-scriptrui"]);
      

      //Extend angular widgets, to bind to server on their model change
      scriptr.enableServerBinding(['mdSwitch','mdSlider','mdButton'])
    </script>
    
    <body>  
       <div ng-controller="ScriptrRTController"> 
         <md-switch ng-model="data.switch.value" ng-change="" aria-label="Finished" scriptr-bind="true">
         </md-switch>
         
         <ng-dial-gauge id="gauge1"
                        scale-min="0"
                        scale-max="100"
                        border-width="1"
                        ng-model="data.slider.value"
                        bar-color="#3E6DBD"
                        bar-width="10"
                        units="%"
                        angle="250"
                        rotate="180"
                        line-cap="round"
                        style="stroke:#3E6DBD;font-weight:100;">
         </ng-dial-gauge>
         
         <md-slider flex min="0" max="100" ng-model="data.slider.value" ng-change="" aria-label="red" scriptr-bind="true">
      	 </md-slider>
         
         
         <!-- Messages from the backend -->
         <ng-display-box ng-model="data.display.value" type="warning"></ng-display-box>
         
         <md-button class="md-raised" ng-click="update" scriptr-bind="true">Button</md-button>
         
         <!--<md-icon md-font-library="material-icons">face</md-icon> -->
        
       </div>
   </body>
</html>